
<!doctype html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <meta charset="utf-8">
        <meta name="description" content="the main page of website">
    </head>
    <body>
        <h1>Welcome to Age of Warfare II's web server!</h1>
        <img src="../images/melon-bot.png">
        <p> This is where all of Age of Warfare II's ingame moderation, error logging, and discord webhooks are hosted. </p>
        <p> Here is also where Melon the Gulag bot resides. :)</p>
    </body>
</html>
