<!doctype html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <meta charset="utf-8">
        <meta name="description" content="the main page of website">
        <link href="../static/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to Age of Warfare II's web server!</h1>
        <img src="../static/melon-bot.png">
        <p> This is the doman where Melon the Gulag bot operates :) </p>
        <p> Her job includes managing Age of Warfare II's moderation logging, error logging, and discord webhooks.</p>
    </body>
</html>
